* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid:
        "mainHeader mainHeader" 60px 
        "leftSide rightSide" 1fr 
        "mainFooter mainFooter" 100px 
        / 400px minmax(550px, 1fr);
    grid-gap: 15px;
}

.grid-element {
    padding: 20px;
    border: solid 2px #5a5757;
    border-radius: 10px;
}

.main-header {
    grid-area: mainHeader;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #838181;
    color: aliceblue;
}

.left-side {
    grid-area: leftSide;
}

.right-side {
    grid-area: rightSide;
}

.main-footer {
    grid-area: mainFooter;
}

.related-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#mainNav {
    display: flex;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

#mainNav .nav-item:not(:last-child) {
    margin-right: 12px;
}

.search-form {
    display: flex;
    width: 15%;
    height: 30px;
}

.search-form .input-wrap {
    flex: 1 1 auto;
}

.search-form .input-wrap input {
    width: 100%;
    height: 100%;
}

.search-form .submit-btn {
    flex: 0 0 auto;
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 16px;
    background: #f1f1f1;
}

 .links-label {
     margin-bottom: 4px;
 }

#footerNav .nav-item:not(:last-child) {
    margin-right: 12px;
}

.left-side section {
    display: flex;
    flex-direction: column;
}

.left-side section article:not(:last-child) {
    border-bottom: 1px solid #ccc;
}